.slide-enter-active {
  transition: transform 0.3s ease-out;
}
.slide-leave-active {
  transition: transform 0.3s ease-out;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}

.slide-half-enter-active {
  transition: transform 0.3s ease-out;
}
.slide-half-leave-active {
  transition: transform 0.3s ease-out;
}
.slide-half-enter,
.slide-half-leave-to {
  transform: translateX(-30%);
}
