.slide-enter-active {
  transition: transform 0.3s ease-out;
  // keep deeper routes on top
  z-index: 1;
}
.slide-leave-active {
  transition: transform 0.3s ease-out;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}

.slide-half-enter-active {
  transition: transform 0.3s ease-out;
}
.slide-half-leave-active {
  transition: transform 0.3s ease-out;
}
.slide-half-enter,
.slide-half-leave-to {
  transform: translateX(-30%);
}

.slide-right-left-enter-active {
  transition: transform 0.3s ease-out;
}
.slide-right-left-leave-active {
  transition: transform 0.3s ease-out;
}
.slide-right-left-enter {
  transform: translateX(100%);
}
.slide-right-left-leave-to {
  transform: translateX(-100%);
}

.slide-left-right-enter-active {
  transition: transform 0.3s ease-out;
}
.slide-left-right-leave-active {
  transition: transform 0.3s ease-out;
}
.slide-left-right-enter {
  transform: translateX(-100%);
}
.slide-left-right-leave-to {
  transform: translateX(100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}