$color-red: #F44336;
$color-green: #4CAF50;

$color-primary: #1E88E5;
$color-secondary: #43A047;
$color-tertiary: $color-red;
$color-font: #333;

$color-grey-light-1: #E0E0E0;
$color-grey-light-2: #BDBDBD;

$font-display: 'Montserrat Alternates', sans-serif;
$font-base: 'Hind Siliguri', sans-serif;