$color-primary: #1E88E5;
$color-secondary: #43A047;
$color-tertiary: #F44336;

$color-grey-light-1: #E0E0E0;

$font-display: 'Montserrat Alternates', sans-serif;
$font-base: 'Hind Siliguri', sans-serif;